
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0eded;
        }
        .outer-border {
            padding: 12px;
            background-color: #a8232a;
            box-sizing: border-box;
        }
        .board {
            display: grid;
            grid-template-columns: repeat(8, 60px);
            grid-template-rows: repeat(6, 60px);
            border: 10px solid black;
        }
        .square {
            width: 60px;
            height: 60px;
        }
        .white {
            background-color: #cecb0a;
        }
        .maroon {
            background-color: #d30f0f;
        }
  

