.hello{
    text-align: center;
}
.train{
    text-align: center;
}
.p1{display:block;margin-left:auto ;margin-right: auto;}
.a{
    text-align: center;color: rgb(191, 20, 20);text-decoration: none;
}